@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Hello, Welcome to my first az web app..! The app is now upgraded to Version 4.0</h2>
</div>
